/**********Top Section************/

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

p {
    margin-top: 10px;
    line-height: 1.6;
}


/***logo***/

.logo {
    margin: auto 60px;
    margin-top: 50px;
}

.logo img {
    width: 17%;
}


/***Main Section FLEX***/

.main-section {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 20px;
}


/**Row Flex item1**/

.row1 {
    margin-left: 50px
}

.row1 img {
    width: auto;
    max-width: 680px;
}


/**Row Flex item2**/

.row2 {
    margin: 10px 50px auto;
}

.heading {
    font-size: 2.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: block;
}


/****Button****/

.btn {
    font-family: 'Poppins', sans-serif;
    margin-top: 8px;
    border-radius: 60px;
    color: hsl(257, 40%, 49%);
    font-size: 1.125rem;
    background: #ffffff;
    padding: 13px 58px 13px 58px;
    text-decoration: none;
    box-shadow: 5px 5px 20px 1px rgb(49, 48, 48);
}

.btn:hover {
    color: white;
    background: hsl(300, 69%, 71%);
    text-decoration: none;
    cursor: pointer;
}


/******Footer******/

.footer-icons {
    text-align: right;
    margin: auto 60px;
    margin-bottom: 30px;
}

footer .icons {
    color: white;
}

.footer-icons a {
    font-size: 2rem;
    padding: 5px;
}

a:link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    color: hsl(300, 69%, 71%);
}


/******Attribution******/

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}

.attribution a:hover {
    color: hsl(300, 69%, 71%);
}


/*******************Media Query***********************/

@media (max-width: 1100px) {
    .row1 img {
        width: 400px;
    }
}

@media (max-width: 960px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-repeat: no-repeat;
        text-align: center;
        background-position: center top;
    }
    .logo {
        text-align: left;
        margin-left: 35px;
    }
    .logo img {
        width: auto;
        max-width: 140px;
    }
    .main-section {
        flex-direction: column;
        /* margin: auto 60px;
        margin-top: 80px;
        margin-bottom: 20px; */
        margin-bottom: 60px;
    }
    .row1 {
        margin: auto;
    }
    .row1 img {
        width: 290px;
    }
    .heading {
        font-size: 1.35rem;
    }
    .row2 {
        margin-top: 30px;
        font-size: 0.85rem;
    }
    .btn {
        /* margin-top: 8px; */
        font-size: 0.875rem;
        padding: 10px 70px 10px 70px;
    }
    .footer-icons {
        text-align: center;
    }
}